# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Pastas de dependências (caso use Node futuramente)
node_modules/

# Configurações de IDE
.vscode/
.idea/

# Arquivos de ambiente
.env
.env.*

# Builds (se futuramente houver)
dist/
build/

# Arquivos temporários / backup
*.tmp
*.bak
*.swp

# Compactados
*.zip
*.rar
*.7z